<head>

    <title>Inventario Maestro</title>

</head>
<div class="d-none" id="Rol">{{user.USU_ROL}}</div>
<div class="d-none" id="Sede">{{user.USU_SEDE}}</div>
<div class="d-none" id="estadoUsuario">{{user.USU_ESTADO}}</div>
<div class="d-none" id="nombreUsuario">{{user.USU_NOMBRES_APELLIDOS}}</div>
<div class="content content-page">
    <div class="container-fluid">
        {{!-- Titulo pagina --}}
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <h4 class="page-title">Inventario {{TipoInventario}}</h4>
                    {{> message }}
                </div>
            </div>
        </div>

        {{!-- Formulario Front Negocios --}}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        {{!-- Inicia Acordeon General --}}
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="table-responsive">
                                <table id="ReporteVentas"
                                    class="table table-striped dt-responsive nowrap display compact">
                                    <thead>
                                        <tr>
                                            <th>
                                                <center>MODIFICAR</center>
                                            </th>
                                            <th>
                                                <center>PRODUCTOS</center>
                                            </th>
                                            <th>
                                                <center>PRECIO</center>
                                            </th>
                                            <th>
                                                <center>MESA</center>
                                            </th>
                                            <th>
                                                <center>VENDEDOR</center>
                                            </th>
                                            <th>
                                                <center>SEDE</center>
                                            </th>
                                            <th>
                                                <center>FECHA VENTA</center>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each listaVentas}}
                                        <tr>
                                            <td>
                                                <center><a><button type="button"
                                                            class="btn btn-primary waves-effect waves-light"
                                                            data-toggle="modal"
                                                            data-target="#crud_AdminUsuarios_actualizar_{{PK_ID_VENT}}"><i
                                                                class="fas fa-edit"></i></button></a></center>
                                                <div class="modal fade"
                                                    id="crud_AdminUsuarios_actualizar_{{PK_ID_VENT}}" tabindex="-1"
                                                    role="dialog" aria-labelledby="crud_AdminUsuarios_actualizarTitle"
                                                    aria-hidden="true">
                                                    <div class="modal-dialog modal-lg modal-dialog-scrollable"
                                                        role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title"
                                                                    id="crud_AdminUsuarios_actualizarTitle"><i
                                                                        class="fas fa-edit"></i> Venta
                                                                </h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form action="/ModificarVenta/{{PK_ID_VENT}}"
                                                                    method="POST">

                                                                    <div
                                                                        class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                                        <label for="txtvalores"
                                                                            class="col-form-label">PRODUCTOS</label>
                                                                        <input type="text" name="valores"
                                                                            id="txtvalores" class="form-control"
                                                                            data-toggle="tooltip"
                                                                            data-placement="bottom" title="Valores"
                                                                            value="{{VALORES}}" autocomplete="off"
                                                                            required>
                                                                    </div>

                                                                    <div
                                                                        class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                                        <label for="txtnombres"
                                                                            class="col-form-label">NOMBRES</label>
                                                                        <input type="text" name="nombres"
                                                                            id="txtnombres" class="form-control"
                                                                            data-toggle="tooltip"
                                                                            data-placement="bottom" title="Valores"
                                                                            value="{{NombreVenta}}" autocomplete="off"
                                                                            required>
                                                                    </div>

                                                                    <div
                                                                        class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                                        <label for="txtmesa"
                                                                            class="col-form-label">MESA</label>
                                                                        <input type="text" name="mesa" id="txtmesa"
                                                                            class="form-control" data-toggle="tooltip"
                                                                            data-placement="bottom" title="Valores"
                                                                            value="{{MESA}}" autocomplete="off"
                                                                            required>
                                                                    </div>

                                                                    <center>
                                                                        <button type="submit" name="action"
                                                                            class="btn btn-primary waves-effect waves-light">
                                                                            Actualizar Venta
                                                                        </button>
                                                                    </center>

                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Cerrar</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <center>{{NombreVenta}}</center>
                                            </td>
                                            <td>
                                                <center>{{PRECIO}}</center>
                                            </td>
                                            <td>
                                                <center>{{MESA}}</center>
                                            </td>
                                            <td>
                                                <center>{{VENDEDOR}}</center>
                                            </td>
                                            <td>
                                                <center>{{SEDE}}</center>
                                            </td>
                                            <td>
                                                <center>{{FECHA_REGISTRO}}</center>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="js/ControllerHistorialVentas.js"></script>